<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Sign Translate</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div class="container-fluid" style="margin-left: 25%; margin-right: 25%; border: 1px solid black;">
    <img th:src="@{/img/asl.png}" />
    <hr style="padding-left: 1%;"/>
    <h1 style=" padding-left: 1%;">Sign Language Translator</h1>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
      <div class="input-group">
        <p style=" padding-left: 1%;" class="input-group-text">
          Please enter a text to translate:
          <input th:field="*{contentTest}" class="form-control">
        </p>
        <p style=" padding-left: 1%;">
          <input class="form-control" type="submit" value="Submit" />
          <input type="reset" value="Reset" /></p>
      </div>

    </form>
  </div>
</div>
</body>
</html>